<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
    {% include "header.html" %}

    <section class = "section1">
        <div>
            <H2>Detalhe do atendimentos {{ detalhe.atendimento }}</H2>
        </div>
        <div class = "dados_atendimento">
            <span>Tipo de público: {{detalhe.publico}}</span><br>
            <span>Nome: {{detalhe.pessoa}}</span><br>
            <span>Forma de atendimento: {{detalhe.tipo}}</span><br>
            <span>Serviço: {{detalhe.assunto}}</span><br>
        </div>
    </section>
</body>

</html>