<!DOCTYPE html>
<html lang="en">

    {% load static %}
    {% include "head.html" %}
    {% include "header.html" %}

<body>
    <h5 style="text-align:center">Editando atendimentos</h5>

    <div class = "card">
        <div class = 'card-body'>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p}}
                <button type="submit", class="btn btn-success">Salvar</button>
                <a href="/" class='btn btn-danger'>Cancelar</a>
            </form>
        </div>
    </div>

</body>

</html>
