<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="../static/img/brasao_uncisal.png" alt="logo" style="width: 40px;px;">
    </a>
    
    <div>
        <!-- Links -->
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
        </li>
        </ul>
    </div>
  </nav>