<!DOCTYPE html>
<html lang="en">

    {% load static %}
    {% include "head.html" %}
    {% include "header.html" %}

<body>
    <h5 style="text-align:center">Lista de atendimentos</h5>

    <div class = "card">
        <div class = 'card-body'>
            <a class='btn btn-success' href="formatend/">Novo atendimento</a>
            <table class = 'table table-striped'>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Público</th>
                        <th>Nome</th>
                        <th>Forma</th>
                        <th>Assunto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for atendimento in atendimentos %}
                    <tr>
                        <td>{{atendimento.atendimento}}</td>
                        <td>{{atendimento.publico}}</td>
                        <td>{{atendimento.pessoa}}</td>
                        <td>{{atendimento.tipo}}</td>
                        <td>{{atendimento.assunto}}</td>
                        <td>
                            <a class='btn btn-warning' href="{% url 'formedit_view' atendimento.id%}">Editar</a>
                            <a class='btn btn-danger' href="{% url 'fdel_view' atendimento.id%}" onclick="return confirm('Tem certeza que vai apagar?');" >Excluir</a>
                        </td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

</html>